.pd-page {
  display: flex;
  gap: 60px;
  padding: 70px 9%;
  background: #fff;
  font-family: "Poppins", sans-serif;
}

/* LEFT */
.pd-left {
  flex: 1;
}

/* RIGHT */
.pd-right {
  flex: 1;
}

/* TITLE */
.pd-name {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 6px;
}

.pd-category {
  font-size: 13px;
  color: #777;
  margin-bottom: 10px;
}

/* RATING */
.pd-rating {
  font-size: 14px;
  margin-bottom: 14px;
  color: #555;
}

/* PRICE */
.pd-price {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 18px;
}

.pd-original {
  font-size: 16px;
  color: #999;
  margin-left: 12px;
  text-decoration: line-through;
}

.pd-discount {
  font-size: 15px;
  color: #c62828;
  margin-left: 10px;
}

.pd-tax {
  font-size: 12px;
  color: #666;
  margin-top: 6px;
}

/* SIZE */
.pd-size {
  margin-top: 22px;
}

.size-options {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.size-options button {
  padding: 9px 18px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  font-size: 13px;
}

.size-options button.active {
  background: #000;
  color: #fff;
  border-color: #000;
}

/* ACTIONS */
.pd-actions {
  display: flex;
  gap: 18px;
  margin: 30px 0;
}

.buy-now,
.add-cart {
  flex: 1;
  padding: 16px;
  font-size: 14px;
  cursor: pointer;
}

.buy-now {
  background: #000;
  color: #fff;
  border: none;
}

.add-cart {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.add-cart:hover {
  background: #000;
  color: #fff;
}

/* INFO */
.pd-info p {
  font-size: 13px;
  margin: 6px 0;
}

/* SECTIONS */
.pd-section {
  margin-top: 32px;
}

.pd-section h4 {
  font-size: 15px;
  margin-bottom: 10px;
}

.pd-list li {
  font-size: 14px;
  margin: 6px 0;
}

/* TAGS */
.pd-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.pd-tags span {
  border: 1px solid #ddd;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
}

/* MOBILE */
@media (max-width: 900px) {
  .pd-page {
    flex-direction: column;
    padding: 40px 6%;
  }

  .pd-actions {
    flex-direction: column;
  }
}
